option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:application
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current"
    ENVIRONMENT: "production"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
  aws:autoscaling:launchconfiguration:
    InstanceType: t2.micro
  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 1
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /docs
    MatcherHTTPCode: 200
    HealthCheckTimeout: 5
    HealthCheckInterval: 30
  aws:elasticbeanstalk:environment:
    EnvironmentType: SingleInstance

packages:
  yum:
    postgresql-devel: []
    gcc: []
